@{
    ViewBag.Title = "Программный комплекс «СТАМАТ»";
}
<div class="slider">
    <h1>@ViewBag.Title</h1>
</div>
<div>
    <h3>Описание:</h3>

    <p>
        Программный комплекс предназначен для анализа сельхозтоваропроизводителем применения агротехнологий с использованием
        различных вариантов работоспособной техники для выполнения заданного объема работ с учетом индивидуальных условий конкретного хозяйства,
        расчета затрат для этих вариантов и предоставления возможности пользователю принять решение по выбору оптимального варианта по минимуму затрат.
    </p>
</div>

