@{
    ViewBag.Title = "Контакты";
}
<div class="slider">
    <h1>@ViewBag.Title</h1>
</div>
<div>
    <h3>Коротко о нас</h3>
    <h4>Федеральное государственное бюджетное учреждение науки Сибирский федеральный научный центр агробиотехнологий Российской академии наук</h4>
    <h4>является научной организацией</h4>



    <h1>Контактная информация</h1>

    <address>
        <img src="~/Content/images/location.png" width="20" height="20" alt="lorem">Новосибирская область, Новосибирский район,<br />
        <p style="margin-left: 25px;">р.п. Краснообск, 630501</p>
        <p style="margin-left: 25px;">СибФТИ СФНЦА РАН</p>
        <img src="~/Content/images/call.png" width="20" height="20" alt="lorem"> +7(383) 348-35-24 <img src="~/Content/images/fax.png" width="20" height="20" alt="lorem"> +7 (383) 348-35-24

    </address>

    <address>
        <img src="~/Content/images/email.png" width="20" height="20" alt="lorem"><strong>E-mail:</strong>   <a href="mailto:sibfti.n@ngs.ru">sibfti.n@ngs.ru</a><br />

    </address>
</div>
    