@{
    ViewBag.Title = "Home Page";
}

<div class="slider">
    <h1>СТАМАТ</h1>    <p >
        Программный комплекс предназначен для автоматизированного подбора технологий возделывания исходя из агроклиматических условий расположения хозяйства,
        подбора технических средств и расчета экономических параметров
    </p>
</div>

<div class="main inline">
    <div class="left-block">
        <h2>Подбор технологий</h2>
        <p>
            Определение возможности применения различных технологий из имеющихся в БД базовых технологий по следующим критериям:</br>
            - определение необходимости и кратности минерального питания;</br>
            - определение необходимости и кратности технологических операций по уходу за посевами;</br>
            - формирование севооборота;</br>
            - определение способа обработки почвы с  учетом агроклиматических и фитосанитарных условий хозяйства;</br>
            - соответствие технологии заданному уровню интенсификации;</br>
            - соответствие технологии севообороту;</br>
            - применимость технологий в данной природно-климатической зоне с учетом культуры, рельефности и структуры полей.
        </p>
        @Html.ActionLink("Перейти", "IndexTechnologies", "Technologies")
    </div>
    <div class="content">
        <h2>Подбор техники</h2>
        <p>
            Подбор техники исходя из конфигурации полей и ширины захвата машинно-тракторного агрегата по следующим критериям:</br>
            - выполнение заданного объема работ в оптимальные агротехнические сроки;</br>
            - минимум механизаторов;</br>
            - минимум расхода ГСМ;</br>
            - возможность использования широкозахватной техники;</br>
            - минимум прямых затрат; </br>
            - расчет экономических показателей.
        </p>
        @Html.ActionLink("Перейти", "IndexTechnics", "Technics")
    </div>
    <div class="right-block">
        <h2>Редактор БД</h2>
        <p>Формирование БД по данным хозяйства</p>
        @Html.ActionLink("Перейти", "IndexRedaktor", "Redaktor")
    </div>
</div>
